* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  --body-color: #ffffff;
  --text-color: #18191f;
  --primary-color: #8c30f5;
  --content-section-color: #2ec5ce;
  --content-section-secondary-color: #d5fafc;
  --line-gradient-color: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
}

html,
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--text-color);
}

header {
  background: transparent !important;
}
/* header {
  height: 100vh;
  background-image: url(../images/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
} */

.navbar {
  height: 72px;
  background: none !important;
}

.navbar .navbar-brand {
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.navbar .navbar-brand img {
  height: 28px;
}

.navbar .navbar-menu {
  align-self: center;
}

.navbar .navbar-menu a.navbar-item {
  font-weight: 500;
  padding: 0 !important;

  transition: 0.2s;
}

.navbar .navbar-menu a.navbar-item + a {
  margin-left: 2rem;
}

.dropdown-selection {
  margin-left: 2rem;
}

.dropdown-selection .navbar-link {
  padding: 0;
  margin: 0;
  width: 80px;
}

.dropdown-selection .navbar-link:hover {
  background: none !important;
}

.dropdown-selection .navbar-link::after {
  border-color: var(--text-color);
}

.dropdown-selection .navbar-link:focus {
  background: none;
}

.navbar .navbar-menu .navbar-item:hover {
  background: none;
  color: var(--primary-color);
}

.navbar .navbar-menu .navbar-item:focus {
  background: none !important;
}

.dropdown-selection .navbar-dropdown {
  background: var(--body-color);
}

.dropdown-selection .navbar-dropdown .navbar-item {
  margin: 0.5rem 0.5rem;
  padding: 0.7rem 0 !important;
}

.dropdown-selection .navbar-dropdown {
  background: var(--body-color) !important;
}

.dropdown-selection .navbar-dropdown:hover,
.dropdown-selection .navbar-link {
  background: inherit !important;
}

.dropdown-selection .navbar-dropdown:hover {
  background: var(--body-color) !important;
}

.navbar-menu .navbar-end img {
  width: 133.26px !important;
  height: 40px !important;

  max-height: 50px;
}

/*  Hero section */

.hero {
  margin-top: -74px;
  background-image: url(../images/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  width: 100vw;
  height: 54.125rem;
}

.columns {
  margin-top: 6rem;
}

.hero-text h1 {
  margin-top: 72px;
  font-size: 4.5rem;
  font-weight: 800;
}

.hero-text button {
  margin-top: 2rem;
  background: var(--primary-color);
  border-radius: 6px;

  padding: 0.75rem 2rem;

  width: 154px;
  height: 48px;
  color: var(--body-color);
  font-size: 1rem !important;
  font-weight: 500;
}

.hero-text button:hover {
  color: var(--body-color);
  filter: brightness(0.9);
}

/*  End Hero section */

/*  Clients section */
.clients {
  align-items: center;
  margin-bottom: 4rem;
}

.clients .client img {
  height: 28px;
}

.clients .client img + img {
  margin-left: 4rem;
}

.clients .divider-top {
  margin-bottom: 2.8125rem;
  background: var(--line-gradient-color);
  height: 1px;
}

.clients .divider-bottom {
  margin-top: 2.8125rem;
  background: var(--line-gradient-color);
  height: 1px;
}
/*  End Clients section */

/*  Feactures section */
.feactures {
  padding-top: 0 !important;
  margin-bottom: 4rem;
}

.feactures .h-text {
  max-width: 540px;
}

.feactures .h-text h2 {
  font-size: 3rem;
  font-weight: 800;

  color: var(--text-color);
}

.feactures .h-text p {
  font-size: 1.125rem;

  line-height: 32px;
}

.feactures .column {
  width: 350px;
  padding: 0 !important;
}

.feactures .column .image {
  margin-bottom: 1.5rem;

  display: flex;
  justify-content: center;
}

.feactures .column .image img {
  width: 2rem;
  height: 2rem;
}

.feactures .column .content h3 {
  font-size: 24px;
  font-weight: 600;

  margin-bottom: 0.5rem;
}

.feactures .column .content p {
  font-size: 1rem;
  font-weight: 400;

  line-height: 26px;
}

.feactures .columns {
  margin-top: 3rem;
}

.feactures .columns.is-variable.is-4 {
  column-gap: 1.875rem;
}

.feactures .column:nth-child(n + 4) {
  margin-top: 4rem;
}

/*  End Feactures section */

/* Real Histories section */
.real-history {
  background-color: var(--content-section-secondary-color);

  padding: 4rem 1.5rem !important;
}

.real-history header {
  position: relative;
}

.real-history header img {
  position: absolute;
  top: 0;
}

.real-history header .text {
  position: relative;
  max-width: 505px;

  z-index: 1;

  padding-top: 3.5rem;
  padding-left: 5.9375rem;
}

.real-history header .text h2 {
  font-size: 3rem;
  font-weight: 800;

  line-height: 4rem;
  margin-bottom: 0.5rem;
}

.real-history header .text p {
  font-size: 1.125rem;
  font-weight: 400;

  font-feature-settings: "salt" on, "liga" off;
}

.real-history .columns {
  margin-top: 0;
}

.real-history .left .card {
  width: 350px;

  margin-top: 1.5rem;
  margin-left: 200px;

  padding: 2rem;

  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07) !important;
  border-radius: 8px !important;
}

.real-history .left .card .card-header {
  box-shadow: none;
}

.real-history .left .card .card-header img {
  width: 140px;
  height: 40px;
}

.real-history .left .card .card-content {
  padding: 2rem 0;
}

.real-history .left .card .card-content article {
  display: flex;

  align-items: flex-start;
  justify-content: space-between;
}

.real-history .left .card .card-content article img {
  width: 15.93px;
  height: 14px;

  align-self: flex-start;
}

.real-history .left .card .card-content article p {
  font-size: 1.125rem;

  margin-left: 1rem;
}

.real-history .left .card .card-footer {
  border-top: 0;
}

.real-history .left .card .card-footer cite {
  display: flex;
  flex-direction: column;

  margin-left: 2rem;
}

.real-history .left .card .card-footer cite span {
  color: #969bab;
  font-size: 14px;
}

/* Right cards */

.real-history .right-cards .column {
  padding: 0 !important;
}

.real-history .right-cards .card {
  width: 445px !important;

  margin-top: 1.5rem;
  margin-left: 0 !important;

  padding: 2rem;

  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07) !important;
  border-radius: 8px !important;
}

.real-history .right-cards .column:last-child .card {
  width: 350px !important;
}

.real-history .right-cards .column:first-child {
  margin-top: 6rem;
}

/* End Real Histories section */

/* Our achievements */
.achievements {
  padding: 5rem 0;
}

.achievements .columns {
  margin-top: 0;
}

.achievements .text h2 {
  font-size: 3rem;
  font-weight: 800;

  line-height: 4rem;
  margin-bottom: 0.5rem;
}

.achievements .text p {
  font-size: 1.125rem;
  font-weight: 400;

  font-feature-settings: "salt" on, "liga" off;
}

.achievements-items .achivement-card {
  display: flex;
  align-items: center;
}

.achievements-items .achivement-card .image {
  margin-right: 1.5rem;
}

.achievements-items .achivement-card .image img {
  width: 32px;
  height: 32px;
}

.achievements-items .achivement-card .content {
  display: flex;
  flex-direction: column;
}

.achievements-items .achivement-card .content strong {
  font-size: 1.75rem;
  font-weight: 700;
}

.achievements-items .achivement-card .content span {
  font-size: 1rem;
  font-weight: 400;
}

.achievements-items .achivement-card:nth-child(n + 3) {
  margin-top: 1.5rem;
}

/* End Our achievements */
